{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}

{% block head %}
    {{ super() }}
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{ABOUT_CSS}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row page-header" id="page-header">

    <!-- Add heading and subheading here. -->
    <h1><i>The Reed Canyon&nbsp;: </i>&nbsp;<span>Past and Present</span></h1>
    
    <!-- Add website description here -->
    <p>Here is some information about the Reed Canyon.
    <br><br>
    Here is information about our project.
    <br><br>
    Here is some MORE information about our project.
    <br><br>
    This project was developed with support from the Reed College Software Design Studio and executed by the 2015-2016 and 2016-2017 Software Design Studio interns. Also Zac Perry. </p>
</div>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}