{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{ABOUT_CSS}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row page-header" id="page-header">

    <!-- Add heading and subheading here. -->
    <h1><i>Ab Urbe Efficta&nbsp;: </i>&nbsp;<span>Livy's Written Rome</span></h1>
    
    <!-- Add website description here -->
    <p>The works of the Roman historian Livy describe monuments that stood intact, monuments lost, and monuments forever altered by Rome’s changing political landscape. Using modern mapping and visualization technology, this website allows users to visualize the monuments that Livy described and historicized.
    <br><br>
    The website utilizes digital mapping resources in order to help users compare how a monument might have looked in Livy’s era to how it looks today. It also incorporates selections of Livy’s text in order to encourage users to consider how written narrative, visualization, and geography intersect.
    <br><br>
    The site was developed with a level of abstraction that will make the project perfect for reuse, both at Reed and at other institutions. Because the project is open-source and available on Github, other institutions are free to use and modify this code for their own applications.
    <br><br>
    This project was developed with funding from the Reed Summer President's Fellowship, summer 2015, and was executed in collaboration with the Software Design Studio. All images belong to Reed College. Primary contributors to the project include Haley Tilt, Henry Gerba, and Florence Randari.</p>
</div>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}