{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
    <link href="../static/public_styles/gallery.css" rel="stylesheet">
{% endblock %}
    
{% block content %}
<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <img src="" alt="" />
            </div>
            <div class="modal-metadata">
                <p></p>
            </div>
        </div>
    </div>
</div>

<div id="gallery-wrapper">

    <!-- Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 id="gallery-header">{{GALLERY_TITLE}}
                    <small>{{GALLERY_SUBTITLE}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Form -->
        <form id="gallery-content" class="form-inline" method="GET" action="/gallery" enctype="multipart/form-data">
            <div id="filter-options">
                <!-- <form class="form-inline" method="GET" action="/gallery" enctype="multipart/form-data"> -->
                    <div class="form-group">
                        <p class="text-muted">Filter images by:</p>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name='period'>
                            {% if period %}
                            <option selected name='period'>{{ period }}</option>
                            <option name="{{ALL_PERIODS}}">{{ALL_PERIODS}}</option>
                            {% else %}
                            <option selected name="{{ALL_PERIODS}}">{{ALL_PERIODS}}</option>
                            {% endif %}
                            {% for period in periods %}
                            <option name={{period}}> {{period}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name='bool-1'>
                            {% if boolean_1 == 'AND' %}
                            <option selected name='and'>{{ boolean_1 }}</option>
                            <option name="or">OR</option>
                            {% elif boolean_1 == 'OR' %}
                            <option selected name='or'>{{ boolean_1 }}</option>
                            <option name="and">AND</option>
                            {% else %}
                            <option selected name="and">AND</option>
                            <option name="or">OR</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name='event'>
                            {% if event %}
                            <option selected name='event'>{{ event }}</option>
                            <option name="All Events">All Events</option>
                            {% else %}
                            <option selected name="All Events">All Events</option>
                            {% endif %}
                            {% for event in events %}
                            <option>{{ event['title'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name='bool-2'>
                            {% if boolean_2 == 'AND' %}
                            <option selected name='and'>{{ boolean_2 }}</option>
                            <option name="or">OR</option>
                            {% elif boolean_1 == 'OR' %}
                            <option selected name='or'>{{ boolean_1 }}</option>
                            <option name="and">AND</option>
                            {% else %}
                            <option selected name="and">AND</option>
                            <option name="or">OR</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name='interest_point'>
                            {% if interest_point %}
                            <option selected name='interest_point'>{{ interest_point }}</option>
                            <option name="All Locations">All Locations</option>
                            {% else %}
                            <option selected name="All Locations">All Locations</option>
                            {% endif %}
                            {% for interest_point in interest_points %}
                            <option>{{ interest_point['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Submit">
                    </div>
                <!-- </form> -->
            </div>

            <!-- Projects Row -->
            <div class="row">
            {% for img in images %}
                <div class="col-md-3 portfolio-item" data-toggle="modal" data-target="#lightbox">
                    <p><a class="hovertext" href="#" metadata="{{ img['title'] }}"><img class="img-responsive" src="{{UPLOAD_FOLDER_RELPATH}}{{ img['filename'] }}" width="500" height="309" border="0" alt=""></a></p>
                    <div class="hidden" id="img-metadata">
                        <p>Title: {{ img['title'] }}</p>
                        {% if img['date_created'] %}
                        <br><p>Date: {{ img['date_created'] }}</p><br>
                        {% endif %}
                        {% if img['img_description'] %}
                        <p>Description: {{ img['img_description'] }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <!-- /.row -->

            <div class="row" id="image-ids">
                <div class="form-group">
                    {% for img in images %}
                    <input type="hidden" name='primary_key' value={{ img['id'] }}>
                    {% endfor %}
                </div>
                <div class='wrapper text-center'>
                    <div class="btn-group" role="group">
                        <button name="page-btn" type="submit button" type="button" class="btn btn-default" value='previous'><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button name="page-btn" type="submit button" type="button" class="btn btn-default" value='next'><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>
            </div>
            
            <hr>

        </form>
        <!-- /Form -->

    </div>
    <!-- /.container -->

</div>
{% endblock content %}
    
{% block footer %}
    {{ super() }}
    <script src="../static/js/gallery.js"></script>
{% endblock footer %}