<link href="{{PATH_TO_PUBLIC_STYLES}}{{HEADER_CSS}}" rel="stylesheet" >

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="http://library.reed.edu/">Reed Library Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu">
        <li><a href="/about">About</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/map">Interactive Map</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </div>
  
  </div>
</nav>