<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
</head>

<body>
<div class="container">
  <div class="row">
  <div class="col-md-10">
<p >this is some text</p>
  </div>

  <div class="col-md-2">
<button type="button" class="btn btn-default" onclick="window.location.href='http://localhost:5000/';">Close</button>
  </div>
  </div>
  <div class="row">
  <br>
  <div class="carousel js-flickity">
    {% for f_name in filenames %}
    <div class="carousel-cell">
        <img src="{{NEW_DATA_DIRECTORY_RELPATH}}{{ f_name }}"/>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

</body>
</html>
