{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css" media="screen">
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{MAP_CSS}}" rel="stylesheet">
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script>
        var lat_setting = {{ LAT_SETTING }};
        var long_setting = {{ LONG_SETTING }};
        var initial_zoom = {{ INITIAL_ZOOM }};
        var tile_src = "{{ MAP_TILE_SRC }}";
        var tile_attr1 = "{{ MAP_ATTR1 }}";
        var subdomains = "{{ SUBDOMAINS }}";
        var extension = "{{ EXTENSION }}";
        var interest_points = {{ interest_points_json|tojson }};
        var interest_zones = {{ interest_zones_json|tojson }};
        var interest_lines = {{ interest_lines_json|tojson }};
    </script>
    <script src="../static/js/{{ MAP_JS }}"></script>
{% endblock head %}

{% block content %}

<!--Map and Text Selection Row-->
<div class="row">
  <div id="map" class="col-md-12"> 
  </div>
</div>

<div class="popup-background" hidden></div>
<div class="popup" hidden>
    <div class="row">
<!--- This exit button is the best solution so far.
All other ways made it look super bad on mobile,
so while it's not ideal on desktop, it looks good on mobile -->
        <div class="col-md-1">
          <button type="button" class="close"  onclick="exit_button_clicked();" aria-hidden="true">&times;</button>
        </div>
        <h2 id="ip_title" class="col-md-11">
            <!--javascript puts title item in here -->
        </h2>
    </div>
    <div class="row">
        <p id="ip_description" class="col-md-12">
            <!--javascrip puts description item here -->
        </p>
    </div>
    <div class="row">
        <div id="carouselholder" class="carousel js-flickity">
            <!--javascript puts carosel items here -->
        </div>
    </div>
</div>

<!--../Map and Text Selection Row-->

{% endblock content %}

<!--Javascript files for Leaflet-->

{% block footer %}
    {{ super() }}
{% endblock footer %}
