<!--
Organzes the popup
-->

<div class="popup" hidden>
    <div class="popup-foreground horizontal-center vertical-center">
        <div class="top-section">
            <h2 id="ip_title" class="col-xs-10">
                <!--javascrip puts title item in here -->
            </h2>
            <!--- Maybe not ideal on desktop
            watch out for the button/andor title getting cut off on mobile-->
            <div class="col-xs-2 button-parent">
              <label class="close-button" onclick="hide_popup();">&times;</label>
            </div>

            <p id="ip_description" class="col-xs-12 ip-descrip">
                <!--javascrip puts description item here -->
            </p>
        </div>
        <div class="carousel-space">
            <div id="carouselholder" class="carousel vertical-center">
                <!--javascrip puts carosel items here -->
            </div>
        </div>
        <div class="text-section">
            <p id="img_description">
                <!--javascrip puts description item here -->
            </p>
        </div>
    </div>
</div>
