qw!doctype html>
<html>
<head>
  <title>Timeline Example</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../static/public_styles/timeline.css">
</head>

<body>

    {% include "public/header.html" %}

    <div class="container" id="timeline-wrapper">
        <div class="page-header" id="page-header">
            <h1 id="timeline">Canyon Restoration Timeline</h1>
            <p class="text-muted">Scroll to explore the history of the Reed Canyon and its restoration.</p>
        </div>
        
        <ul class="timeline">
          {% for event in events %}
            <li> 
              <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-left"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title event-title">{{ event['title'] }}</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ event ['year'] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ event ['event_description'] }}</p>
                </div>
              </div>
            </li>
          {% endfor %}


            

           <!-- <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title"></h4>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
              </div>
            </li> -->
            
        </ul>
    </div>
        {% include "public/footer.html" %}

</body>
</html>                


                