{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{TIMELINE_CSS}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row page-header" id="page-header">
    <h1 id="timeline">{{TIMELINE_TITLE}}</h1>
    <p class="text-muted">{{TIMELINE_SUBTITLE}}</p>
</div>

<div class="row timeline-events">
  <ul class="timeline">
    {% for event in events %}
      <li> 
        <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-left"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title event-title">{{ event['title'] }}</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ event ['year'] }}</small></p>
          </div>
          <div class="timeline-body">
            <p>{{ event ['event_description'] }}</p>
          </div>
        </div>
      </li>
    {% endfor %}

     <!-- <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"></h4>
          </div>
          <div class="timeline-body">
            <p></p>
          </div>
        </div>
      </li> -->  
  </ul>
</div>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}
                