/* About Page */

.page-header {
  margin: 2.857142857em 0 1.428571429em; /* 40/14 0 20/14 */
  padding-bottom: 0.642857143em; /* 9/14 */
  border-bottom: none;
}

#page-header {
    padding: 1.428571429em; /* 20/14 */
}

#page-header h1 {
  font-family: serif;
  font-weight: 300;
  font-size: 2.5em; /* 35/14 */
  padding: 0.428571429em; /* 15/35 */
}

#page-header span {
  font-weight: 200;
  font-size: 0.685714286em; /* 24/35 */
}

#page-header p {
  font-weight: 300;
  font-size: 1.285714286em; /* 18/14 */
  padding-left: 1.071428571em; /* 15/14 */
}