/*#gallery {
  width: 100%; 
  height: 150px;
  padding-bottom: 20px;
}

#gallery img {
  height:100px;
  width:100px;
  padding-bottom: 10px;
}*/

#link-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

#link-wrapper a {
  color: #3399FF;
}

.show-metadata {
  opacity: .8;
}