/*#gallery {
  width: 100%; 
  height: 150px;
  padding-bottom: 20px;
}

#gallery img {
  height:100px;
  width:100px;
  padding-bottom: 10px;
}*/

#thumbs {   
    width: 540px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#link-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

#link-wrapper a {
  color: #3399FF;
}



