/* Footer */

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em; /*margin and push height must be the same value*/
}

.footer, .push {
  height: 2em;
}

#footer {
  border-top: 1px solid #ffffff; 
  background-color: #e0f0dc; 
}

#footer p {
  font-family: 'Futura', sans-serif;
  font-weight: 200;
  font-size: 12px;
  padding: 1px;
}