/* Page Styling */
#gallery-wrapper {
  padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

/* Filter Options */
#filter-options { 
  padding-bottom: 30px;
}

/* Thumbnails in Gallery */
.img-responsive {
  opacity: 1;
  height: 200px;
  width: 300px;
}

.show-metadata {
  opacity: .8;
}

a.hovertext {
  position: relative;
  width: 300px;
  text-decoration: none !important;
  text-align: center;
}
a.hovertext:after {
  content: attr(metadata);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5em 20px;
  width: 255px;
  background: rgba(0,0,0,0.8);
  text-decoration: none !important;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}
a.hovertext:hover:after, a.hovertext:focus:after {
  opacity: 1.0;
}

/* Light Box Viewer */

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}