/* Navbar */

/* The setup of this page allows you to edit the color, font, and size of the Header and 
the Menu separately*/

.navbar {
  background-color: #ffffff; 
  border-bottom: 1px solid #ddd;
  opacity: 1;
  padding: 1px;
  text-shadow: 2px 2px #ddd;
}

/****what is this ugh*/
p {
  z-index: 12;
}
/*what*/

.navbar-header a {
  float: left;
  color: pink;
  font-family: serif;
  font-weight: 700;
  font-size: 30px;
}

/* Navbar Menu */

.header .menu {
  float: right;
  list-style: none;
  margin-top: 0px;
}

.menu > li { 
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: green;
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 20px;
} 