/**** The setup of this page allows you to edit the color, font, and size of the Header 
and the Menu separately ****/

/* Navbar */

.navbar {
  background-color: #ffffff; 
  border-bottom: 1px solid #ddd;
  opacity: 1;
  padding: 1px;
}

.navbar-header a {
  float: left;
  color: #006666;
  font-family: 'Futura', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.navbar-toggle {
  position: relative;
  float: right;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #777;
  border-radius: 4px;
}

span.icon-bar {
  background-color: #777;
}

/* Navbar Menu */

.header .menu {
  float: right;
  list-style: none;
  margin-top: 0px;
}


.menu > li { 
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #006666;
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 20px;
} 

