/* Navbar */

.navbar {
  background-color: #ffffff; 
  border-bottom: 0.071428571em solid #ddd;
  opacity: 1;
  padding: 0.071428571em;
}

.navbar-header a {
  float: left;
  color: #006666;
  font-family: 'Lucida-Sans', sans-serif;
  font-weight: 700;
  font-size: 2.142857143em; /* 30/14 */
}

.navbar-toggle {
  position: relative;
  float: right;
  background-color: #ffffff;
  background-image: none;
  border: 0.071428571em solid #777;
  border-radius: 0.285712386em; /* 4/14 */
}

span.icon-bar {
  background-color: #777;
}

/* Navbar Menu */

.header .menu {
  float: right;
  list-style: none;
  margin-top: 0em;
}

.menu > li { 
  display: inline;
  padding-left: 1.428571429em; /* 20/14 */
  padding-right: 1.428571429em;
}

.menu a {
  color: #006666;
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 1.428571429em;
} 

 /* Change the color of the hover background on the navbar menu */ 
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #ebf5e4;
}