/* Page Styling */

html, body {
  height: 100%;
}

#map {
    width: 100%;
    position: absolute;
    top: 4.5em;
    bottom: 2em;
}

.popup-background {
    /*if you change either position thing it doesn't work*/
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 20000;
}

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    /*padding: 1.25em;
    border: 1px solid #000000;*/
    z-index: 100000; /* goes above leaflet link */
}
.top-section {
    width:100%;
    height:47%;
    background: #ebf5e4;
}
.text-section{
    font: normal 3em/normal Arial;
    height:1em;
    width: 100%;
    text-align: center;
}
.close-button{
    width: 1em;
    height: 1em;
    font: normal 4em/normal Arial;
    /*makes button not look like a button*/
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
