/* Page Styling */

html, body {
  height: 100%;
}

#map {
    width: 100%;
    position: absolute;
    top: 4.5em;
    bottom: 2em;
}

.popup-background {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 20000;
}

.popup {
    width: 80%;
    height: 100%;
    background: #ebf5e4;
    position: absolute;
    right: 10%;
    left: 10%;
    top: 0;
    margin: auto;
    padding: 1.25em;
    border: 1px solid #000000;
    z-index: 100000; /* goes above leaflet link */
}
