{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}

{% block head %}
    {{ super() }}
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{ABOUT_CSS}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="banner background">
    <div class="row text-center" id="page-header">
        <h1>The Reed Canyon&nbsp;: &nbsp;<span>Past and Present</span></h1>
    </div>
</div>

<!--lol-->
<br><br><br><br><br><br><br><br><br>

<div class="content">
    <p>The Reed Canyon is a unique place on campus and in the greater Portland area, providing a beautiful 28-acre natural space for community education and enjoyment. The Reed Lake is the only naturally occuring pond remaining in the inner-city area, and the headwaters of Crystal Springs Creek, part of the Johnson Creek Watershed that runs into Willamette River. Ongoing restoration projects have transformed the Canyon into an ecologically friendly and self-sustaining habitat for diverse plants and wildlife.

    <img src="../static/uploads/download.jpg" alt="Duck" max-width:100%>

<br><br>
    Since 1999, efforts have focused on restoring the Canyon to its natural state and removing the ecologically disruptive markers of human activity, such as the old pool, which was removed in 2001 and a fishladder constructed in its place. The ongoing process of restoration is part of Reed College's long history of protection and stewardship of the site and sets a precedent for restoration efforts in Portland and beyond.
    </p>
</div>

<div class="content purpose">
<h2>- Purpose -</h2>
    <p>
    This app was designed to share the story of the Canyon through the convergence of images, text, and physical exploration. Designed to be used as an in-canyon resource, we hope to enhance the experience of the Canyon of the relationship between the modern-day space and its changes over history. 
    <img src="../static/uploads/download2.jpg" alt="download2" max-width:100%>
    <br><br>
    Through interacting with the app and exploring the Canyon firsthand, we hope users will gain a better understanding of the restorative work that keeps the Canyon a healthy habitat for plants and wildlife, and a special space for the Reed community's enjoyment and learning.
    <br><br>
    For more information on the Canyon check out <a href="http://www.reed.edu/canyon/visit.html">Visit the Canyon</a> on the official website. </p>
</div>

<div class="content people">
<h2>- People -</h2>
    <p>This project was developed for Reed College and implemented by Reed student interns in the 2015 and 2016 <a href="http://www.reed.edu/sds/index.html">Software Design Studio</a>. Images and text were added by Zac Perry.
    <br><br>
    If you have feedback for the project, please contact ([]).</p>
</div>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}
