{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}

{% block head %}
    {{ super() }}
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{ABOUT_CSS}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="about-wrapper">
    <div class="banner background">
        <div class="row text-center" id="page-header">
            <h1>The Reed Canyon&nbsp;: &nbsp;<span>Past and Present</span></h1>
        </div>
    </div>

    <div class="row content about">
        <p>The Reed Canyon is a unique place on campus and in the greater Portland area, providing a beautiful natural space for community work, education, and enjoyment. The 28-acre Canyon includes the headwaters of Crystal Springs Creek on the east end, which are the purest water source in the Johnson Creek watershed, and Reed Lake, the only naturally occuring lake remaining in the inner-city area. Today, restoration projects focus on returning the Canyon to its natural state while maintaining a healthy ecosystem for plants and animals.

        <span class="right-img inline-img">
            <img src="/static/uploads/download.jpg" alt="Duck">
        </span>

        <br><br>
        Restoration efforts began in earnest in 1999 with the removal of the outdoor pool and the establishment of a fishladder in its place. Ongoing projects continue to transform the Canyon, creating an ecologically friendly and self-sustaining habitat that allows wildlife and native vegetation to flourish. This process of restoration is part of Reed College's history of protection and stewardship of the site and sets a precedent for the care and management of other natural spaces in Portland.
        </p>
    </div>

    <div class="row content purpose">
        <h2 >- Purpose -</h2>
        <p>This app was designed to be used like a walking tour, and to share the story of the Canyon through the convergence of images, text, and in-canyon experience. We hope to help you see how the modern-day space has changed and developed over time.
        <span class="left-img inline-img">
            <img src="/static/uploads/download2.jpg" alt="download2">
        </span>
        <br><br>
        Through interacting with the app and exploring the Canyon firsthand, we hope you will gain a better understanding of the restorative work that keeps the Canyon healthy for plants and wildlife and a special space for the Reed community's pleasure and learning.
        <br><br>
        For more information on the Canyon, check out <a href="http://www.reed.edu/canyon/visit.html">Visit the Canyon</a> on the official website. </p>
    </div>

    <div class="row content people">
        <h2>- People -</h2>
        <p>This project was developed for Reed College and implemented by Reed student interns in the 2015 and 2016 <a href="http://www.reed.edu/sds/index.html">Software Design Studio</a>. Images and text were added by Zac Perry.
        <br><br>
        If you have feedback for the project, please contact ([]).</p>
    </div>
</div>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}
