<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{WEBSITE_TITLE}}</title>

    <!--- favicon -->
    <link rel="icon" type="image/png" href="{{FAVICON}}"  />

    <!-- Bootstrap Core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{PATH_TO_PUBLIC_STYLES}}{{BASE_CSS}}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    {% endblock head %}
</head>


<body>
    <div class="wrapper">
        <div class="row">
            <div class="header">
              {% include RELPATH_TO_PUBLIC_TEMPLATES ~ HEADER_TEMPLATE %}
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <div class="push"></div>
    </div>

    <div class="footer row">
      {% include RELPATH_TO_PUBLIC_TEMPLATES ~ FOOTER_TEMPLATE %}
    </div>
    </div>
</body>

{% block footer %}
{% endblock  footer %}

</html>
