<link href="{{PATH_TO_PUBLIC_STYLES}}{{HEADER_CSS}}" rel="stylesheet" >

<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>

        <a class="navbar-brand" href="/">
        <img src="/static/leafylogo.png">
        </a>
    </div>

    <div class="collapse navbar-collapse navbar-transparent">
      <ul class="nav navbar-nav menu">
        <li><a href="/">Map</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="http://www.reed.edu/canyon/">Website</a></li>
      </ul>
    </div>

  </div>
</nav>
