{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/stefanocudini/leaflet-compass/master/dist/leaflet-compass.min.css">

    <link href="/static/public_styles/popup.css" rel="stylesheet">
    <link href="/static/public_styles/photoswipe.css" rel="stylesheet">
    <link href="/static/public_styles/map.css" rel="stylesheet">

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <script src="https://cdn.rawgit.com/stefanocudini/leaflet-compass/master/dist/leaflet-compass.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.locatecontrol/0.52.0/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/leaflet.locatecontrol/0.52.0/L.Control.Locate.min.js"></script>

    <script>
        var features = {{ features_json|tojson }};
        var straboconfig = {{ straboconfig|tojson }};
    </script>
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/map_info.js"></script>
    <script src="../static/js/{{MAP_JS}}"></script>



{% endblock head %}

{% block content %}

<div class="row container-fluid">
  <div id="map"></div>
</div>


{% include "public/popup.html" %}


{% include "public/photoswipe.html" %}


<!--../Map and Text Selection Row-->

{% endblock content %}

<!--Javascript files for Leaflet-->

{% block footer %}
    {{ super() }}
{% endblock footer %}
