{% extends RELPATH_TO_PUBLIC_TEMPLATES ~ BASE_TEMPLATE %}
{% block head %}
    {{ super() }}
   <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css" media="screen">
  <link rel="stylesheet" href="https://cdn.rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.css">
  <link rel="stylesheet" href="http://cdn.rawgit.com/dimsemenov/PhotoSwipe/master/dist/default-skin/default-skin.css">
    <link href="/static/public_styles/popup.css" rel="stylesheet">
    <link href="/static/public_styles/photoswipe.css" rel="stylesheet">
    <link href="/static/public_styles/map.css" rel="stylesheet">
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
    <script src="http://cdn.rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe.min.js"></script>
    <script src="http://cdn.rawgit.com/dimsemenov/PhotoSwipe/master/dist/photoswipe-ui-default.js"></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script>
        var features = {{ features_json|tojson }};
        var straboconfig = {{ straboconfig|tojson }};
    </script>
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/map_info.js"></script>
    <script src="../static/js/{{MAP_JS}}"></script>
{% endblock head %}

{% block content %}

<div class="row container-fluid">
  <div id="map"></div>
</div>


{% include "public/popup.html" %}


{% include "public/photoswipe.html" %}


<!--../Map and Text Selection Row-->

{% endblock content %}

<!--Javascript files for Leaflet-->

{% block footer %}
    {{ super() }}
{% endblock footer %}
