<!--
Organizes the popup
-->
<div class="popup" hidden>
    <div class="popup-foreground horizontal-center vertical-center">
        <div id="button-section">
            <label class="close-button" onclick="hide_popup();">
                &times;<!--The close icon-->
            </label>
        </div>
        <div id="top-section">
            <h2 id="ip_title" class="col-xs-10"><!--col-xs-10 gives close button some room.-->
                <!--javascript puts title text in here -->
            </h2>
            <p id="ip_description" class="col-xs-12 ip-descrip">
                <!--javascript puts description text here -->
            </p>
        </div>
        <div id="carousel-section">
            <div id="carouselholder" class="carousel vertical-center">
                <!--javascript puts carousel elements here -->
            </div>
        </div>
        <div id="img-text-section">
            <p class="img-description vertical-center" id="img-desc">
                <!--javascript puts description text here -->
            </p>
        </div>
    </div>
</div>
