<!--
Organzes the popup
-->
<div class="popup" hidden>
    <div class="popup-foreground horizontal-center vertical-center">
        <div id="button-section">
            <label class="close-button" onclick="hide_popup();">&times;</label>
        </div>
        <div id="top-section">
            <h2 id="ip_title" class="col-xs-10"><!--col-xs-10 gives close button some room.-->
                <!--javascrip puts title item in here -->
            </h2>
            <p id="ip_description" class="col-xs-12 ip-descrip">
                <!--javascrip puts description item here -->
            </p>
        </div>
        <div id="carousel-section">
            <div id="carouselholder" class="carousel vertical-center">
                <!--javascrip puts carosel items here -->
            </div>
        </div>
        <div id="img-text-section">
            <p class="img-description vertical-center" id="img-descr">
                <!--javascrip puts description item here -->
            </p>
        </div>
    </div>
</div>
