html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60;
}

#map {
  height: 100%;
}

#footer {
  height: 60px;
  background-color: #eee;
}

#footer p {
  padding-top:20px;
}

#gallery {
  width: 100%; 
  height: 150px;
  padding-bottom: 20px;
}

#link-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

#link-wrapper a {
  color: #3399FF;
}

#gallery img {
  height:100px;
  width:100px;
  padding-bottom: 10px;
}

#img-wrapper {
  padding-bottom: 10px;
  padding-left: 60px;
}

#img-wrapper p {
  padding-top: 20px;
}

/* Header */

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}

/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #898989;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

/* Gallery */

/*

.footer {
  background-color: #008080;
  height:200px;
  width:100%;
}
*/