{% extends "/private/base.html" %}
{% set active_page = "edit_images" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
{% for img in image %}
  <div class="form">
      <fieldset>
        <form id="image-upload" method="POST" action="/admin/edit_images/edit/" enctype="multipart/form-data">
          <div class="row">
            <div class="form-wrapper col-lg-8">
              <legend>Edit Image</legend>
              
              <div class="form-group" >
                <label for="title">Image Title:</label><br>
                <input class="form-control" type="text" name="title" value="{{ img['title'] }}"><br>
              </div>
              <div class="form-group">
                <label for="img_description">Image Description:</label><br>
                <input class="form-control" type="text" name="img_description" value="{{ img['img_description'] }}">
              </div>
              <div class="form-group">
                <label for="latitude">Latitude:</label><br>
                <input class="form-control" type="text" name="latitude" value={{ img['latitude'] }}>
              </div>
              <div class="form-group">
                <label for="longitude">Longitude:</label><br>
                <input class="form-control" type="text" name="longitude" value={{ img['longitude'] }}>
              </div>
              <div class="form-group">
                <label for="year">Date Created:</label><br>
                <div class="form-inline">
                  <div class="form-group">
                    <input type="number" name="month" class="form-control" min="1" max="12" value="{{ month }}">
                  </div>
                  <span> - </span>
                  <div class="form-group">
                    <input type="number" name="day" class="form-control" min="1" max="31" value="{{ day }}">
                  </div>
                  <span> - </span>
                  <div class="form-group">
                    <input type="number" name="year" class="form-control" value="{{ year }}"=>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="interest_point">Interest Point:</label><br>
                <select class="form-control" name='interest_point'>
                  <option selected name='selected'>{{ img['interest_point'] }}</option>
                  {% for interest_point in interest_points %}
                  <option name="interest_point">{{ interest_point['name'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="event">Event:</label><br>
                <select class="form-control" name='event'>
                  <option selected name='selected'>{{ img['event'] }}</option>
                  {% for event in events %}
                  <option name="event">{{ event['title'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="period">Period:</label><br>
                <select class="form-control" name='period'>
                  <option selected name='selected'>{{ img['period'] }}</option>
                  {% for period in periods %}
                  <option name="period">{{ period }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="notes">Additional Notes:</label><br>
                <input class="form-control" type="text" name="notes" value="{{ img['notes'] }}">
              </div>
              <div class="form-group">
                <label for="tags">Tags:</label><br>
                <input class="form-control" type="text" name="tags" value="{{ img['tags'] }}" placeholder="Add tags separated by commas.">
              </div>
              
              <p></p>
              
              <button type="submit" name="edit-btn" value={{ img['id'] }}>Edit</button>
            </div>
          
            <div class="upload-wrapper col-lg-4">
              <img id="img-preview" src="{{ UPLOAD_FOLDER_RELPATH }}{{ img['filename'] }}"></img>
            </div>
          
          </div>
        </form>
      </fieldset>
    </div>
{% endfor %}
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}