{% extends "/private/base.html" %}
{% set active_page = "delete_text" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main>
  <div id="filter-options">
      <form class="form-inline" method="GET" action="/admin/delete_text/" enctype="multipart/form-data">
          <div class="form-group">
              <p class="text-muted">Search for text selections by category:</p>
          </div>
          
          <div class="form-group">
              <select class="form-control" name='search_field'>
                {% for field in fields %}
                    <option name="field">{{field}}</option>
                {% endfor %}  
              </select>
          </div>
          
          <div class="form-group">
              <input class="form-control" type="text" name="search_term" placeholder="Add your search term here">
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit">
          </div>
      </form>
  </div>
  <p></p>
  <p></p>
  <div>
      <form method="POST" action="/admin/delete_text/delete/" enctype="multipart/form-data">
          <div class="table">
              <table class="table-bordered" margin="10px" id="preview">
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Title</th>
                  <th>Creation Date</th>
                  <th>Book</th>
                  <th>Section</th>
                  <th>Pages</th>
                  <th>Passage</th>
                  <th>Event</th>
                  <th>Interest Point</th>
                  <th>Additional Notes</th>
                </tr>

                {% for txt in text_selections %}
                    <tr>
                      <td>
                          <input type="checkbox" name='primary_key' value={{ txt['id'] }}>
                      </td>
                      <td class="image_key">{{ txt['id'] }}</td>
                      <td class="title">{{ txt['title'] | default("Untitled") }}</td>
                      <td class="created_at">{{ txt['created_at'] }}</td> 
                      <td class="book">{{ txt['book'] }}</td>
                      <td class="section">{{ txt['section'] }}</td>
                      <td class="pages">{{ txt['pages'] }}</td>
                      <td class="passage">{{ txt['passage'] }}</td>
                      <td class="event">{{ txt['event'] }}</td>
                      <td class="interest_point">{{ txt['interest_point'] }}</td>
                      <td class="notes">{{ txt['notes'] }}</td>
                    </tr>
                {% endfor %}
              </table>
          </div>
          
          <div>
              <input type="submit" class="btn btn-info" value="Delete">
          </div>

      </form>
  </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}

