{% extends "/private/base.html" %}
{% set active_page = "delete_ips" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main>
  <div id="filter-options">
      <form class="form-inline" method="GET" action="/admin/delete_ips/" enctype="multipart/form-data">
          <div class="form-group">
              <p class="text-muted">Search for interest points by category:</p>
          </div>
          
          <div class="form-group">
              <select class="form-control" name='search_field'>
                {% for field in fields %}
                    <option name="field">{{field}}</option>
                {% endfor %}  
              </select>
          </div>
          
          <div class="form-group">
              <input class="form-control" type="text" name="search_term" placeholder="Add your search term here">
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit">
          </div>
      </form>
  </div>
  <p></p>
  <p></p>
  <div>
      <form method="POST" action="/admin/delete_ips/delete/" enctype="multipart/form-data">
          <div class="table">
              <table class="table-bordered" margin="10px" id="preview">
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Name</th>
                  <th>Creation Date</th>
                  <th>Latitude</th>
                  <th>Longitude</th> 
                  <th>Additional Notes</th>
                </tr>

                {% for ip in interest_points %}
                    <tr>
                      <td>
                          <input type="checkbox" name='primary_key' value={{ ip['id'] }}>
                      </td>
                      <td class="image_key">{{ ip['id'] }}</td>
                      <td class="name">{{ ip['name'] | default("Untitled") }}</td>
                      <td class="created_at">{{ ip['created_at'] }}</td> 
                      <td class="latitude">{{ ip['latitude'] }}</td>
                      <td class="longitude">{{ ip['longitude'] }}</td>
                      <td class="notes">{{ ip['notes'] }}</td>
                    </tr>
                {% endfor %}
              </table>
          </div>
          
          <div>
              <input type="submit" class="btn btn-info" value="Delete">
          </div>

      </form>
  </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}

