{% extends "/private/base.html" %}
{% set active_page = "edit_ips" %}
{% block title %}Edit Interest Points{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main>
  <div class "row" id="filter-options">
      <form class="form-inline" method="POST" action="/edit_ips/post/" enctype="multipart/form-data">
          <div class="form-group">
              <p class="text-muted">Search for interest points by category:</p>
          </div>
          
          <div class="form-group">
            <select class="form-control" name='categories'>
              {% for category in categories %}
              <option name="categories"> {{ category.0 }} </option>
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group">
            <input class="form-control" type="text" name="search" size="80" placeholder="Add your search term here">
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit">
          </div>
      </form>
  </div>
  <p></p>
  <p></p>
  <div>
      <form method="POST" action="/edit_ips/delete/" enctype="multipart/form-data">
          <div class="table">
              <table class="table-bordered" margin="10px" id="preview">
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Name</th>
                  <th>Creation Date</th>
                  <th>Latitude</th>
                  <th>Longitude</th> 
                  <th>Additional Notes</th>
                </tr>

                {% for ip in interest_points %}
                    <tr>
                      <td>
                          <input type="checkbox" name='primary_key' value={{ ip.0 }}>
                      </td>
                      <td class="image_key">{{ ip.0 }}</td>
                      <td class="name">{{ ip.1 | default("Untitled") }}</td>
                      <td class="created_at">{{ ip.2 }}</td> 
                      <td class="latitude">{{ ip.3 }}</td>
                      <td class="longitude">{{ ip.4 }}</td>
                      <td class="notes">{{ ip.5 }}</td>
                    </tr>
                {% endfor %}
              </table>
          </div>
          
          <div>
              <input type="submit" class="btn btn-info" value="Delete">
          </div>

      </form>
  </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}

