{% extends "/private/base.html" %}
{% set active_page = "edit_events" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main>
    <div id="filter-options">
        <form class="form-inline" method="GET" action="/admin/edit_events/" enctype="multipart/form-data">
            <div class="form-group">
                <p class="text-muted">Search for events by category:</p>
            </div>
            
            <div class="form-group">
              <select class="form-control" name='search_field'>
                {% for field in fields %}
                    <option name="field">{{field}}</option>
                {% endfor %}  
              </select>
            </div>
          
            <div class="form-group">
                <input class="form-control" type="text" name="search_term" placeholder="Add your search term here">
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-info" value="Submit">
            </div>
        </form>
    </div>
    <p></p>
    <p></p>
    <div id="form-field">
        <form method="GET" action="/admin/edit_events/" enctype="multipart/form-data">
            <div class="table">
                <table class="table-bordered" margin="10px" id="preview">
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                    <th>Year</th> 
                    <th>Additional Notes</th>
                    <th>Tags</th>
                  </tr>

                  {% for event in events %}
                      <tr>
                        <td>
                            <button type="submit" name="edit-btn" value={{ event['id'] }}>Edit</button>
                        </td>
                        <td class="image_key">{{ event['id'] }}</td>
                        <td class="title">{{ event['title'] | default("Untitled") }}</td>
                        <td class="event_description">{{ event['event_description'] }}</td> 
                        <td class="created_at">{{ event['created_at'] }}</td> 
                        <td class="year">{{ event['year'] }}</td>
                        <td class="notes">{{ event['notes'] }}</td>
                        <td class="tags">{{ event['tags'] }}</td>
                      </tr>
                  {% endfor %}
                </table>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}

