{% extends "/private/base.html" %}
{% set active_page = "edit_ips" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<main>
    <div id="form-field">
        <form method="GET" action="/admin/edit_images/redirect" enctype="multipart/form-data">
            <div class="table">
                <table class="table-bordered" margin="10px" id="preview">
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Caption</th>
                    <th>Thumbnail</th>
                  </tr>

                  {% for img in all_images %}
                      <tr>
                        <td>
                            <button type="submit" name="edit-btn" value={{ img.id }}>Edit</button>
                        </td>
                        <td>
                            <button type="submit" name="delete-btn" value={{ img.id }}>Delete</button>
                        </td>
                        <td>{{ img.description }}</td>
                        <td><img src="{{ THUMB_DIR_RELPATH }}{{ img.filename }}" alt="thumbnail" style="width:100px;height:100px;"></img></td>
                      </tr>
                  {% endfor %}
                </table>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}
