
{% extends "/private/base.html" %}
{% set active_page = "edit_events" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
{% for evnt in event %}
  <div class="form">
      <fieldset>
        <form id="image-upload" method="POST" action="/admin/edit_events/edit/" enctype="multipart/form-data">
          <div class="row">
            <div class="form-wrapper col-lg-8">
              <legend>Edit Events</legend>
              
              <div class="form-group" >
                <label for="title">Event Title:</label><br>
                <input class="form-control" type="text" name="title" value="{{ evnt['title'] }}">
              </div>
              <div class="form-group">
                <label for="event_description">Event Description:</label><br>
                <input class="form-control" type="text" name="event_description" value="{{ evnt['event_description'] }}">
              </div>
              <div class="form-group">
                <label for="year">Event Date:</label><br>
                <div class="form-inline">
                  <div class="form-group">
                    <input type="number" name="month" class="form-control" min="1" max="12" value="{{ month }}">
                  </div>
                  <span> - </span>
                  <div class="form-group">
                    <input type="number" name="day" class="form-control" min="1" max="31" value="{{ day }}">
                  </div>
                  <span> - </span>
                  <div class="form-group">
                    <input type="number" name="year" class="form-control" value="{{ year }}"=>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="notes">Additional Notes:</label><br>
                <input class="form-control" type="text" name="notes" value="{{ evnt['notes'] }}">
              </div>
              <div class="form-group">
                <label for="tags">Tags:</label><br>
                <input class="form-control" type="text" name="tags" value="{{ evnt['tags'] }}" placeholder="Add tags separated by commas.">
              </div>
              <p></p>
              
              <button type="submit" name="edit-btn" value={{ evnt['id'] }}>Edit</button>
            </div>
  
          </div>
        </form>
      </fieldset>
    </div>
{% endfor %}
</main>
{% endblock %}
