{% extends "/private/base.html" %}
{% set active_page = "edit_ips" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
{% for ip in interest_point %}
  <div class="form">
      <fieldset>
        <form id="image-upload" method="POST" action="/edit_ips/edit/" enctype="multipart/form-data">
          <div class="row">
            <div class="form-wrapper col-lg-8">
              <legend>Edit Interest Point</legend>
              
              <div class="form-group" >
                <label for="name">Interest Point Name:</label><br>
                <input class="form-control" type="text" name="name" required size="15" value="{{ ip['name'] }}"><br>
              </div>
              <!-- Altered from Canyon instance -->
              <div class="form-group" >
                <label for="books">Books:</label><br>
                <input class="form-control" type="text" name="books" required size="15" value="{{ ip['books'] }}"><br>
              </div>
              <!-- -->
              <div class="form-group">
                <label for="coordinates">Coordinates:</label><br>
                <input class="form-control" type="text" name="coordinates" size="80" value="{{ ip['coordinates'] }}">
              </div>
              <div class="form-group">
                <label for="feature_type">Feature Type:</label><br>
                <select class="form-control" name='feature_type'>
                  <option selected name='selected'>{{ ip['feature_type'] }}</option>
                  <option name="Empty"></option>
                  <option name="Landmark">Landmark</option>
                  <option name="Zone">Zone</option>
                  <option name="Building">Building</option>
                  <option name="Heritage Tree">Heritage Tree</option>
                </select>
              </div>
              <div class="form-group">
                <label for="notes">Additional Notes:</label><br>
                <input class="form-control" type="text" name="notes" size="80" value="{{ ip['notes'] }}">
              </div>
              <div class="form-group">
                <label for="tags">Tags:</label><br>
                <input class="form-control" type="text" name="tags" maxlength="400" placeholder="Add tags separated by commas.">
              </div>
              <p></p>
              
              <button type="submit" name="edit-btn" value={{ ip['id'] }}>Edit</button>
            </div>
  
          </div>
        </form>
      </fieldset>
    </div>
{% endfor %}
</main>
{% endblock %}
