{% if latitude %}
<div class="form-group">
  <label for="latitude">Latitude:</label><br>
  <input class="form-control" type="text" name="latitude" size="80" value= {{ latitude }}>
</div>
{% else %}
<div class="form-group">
  <label for="latitude">Latitude:</label><br>
  <input class="form-control" type="text" name="latitude" size="80">
</div>
{% endif %}

{% if longitude %}
<div class="form-group">
  <label for="longitude">Longitude:</label><br>
  <input class="form-control" type="text" name="longitude" size="80" value= {{ longitude }}>
</div>
{% else %}
<div class="form-group">
  <label for="longitude">Longitude:</label><br>
  <input class="form-control" type="text" name="longitude" size="80">
</div>
{% endif %}

{% if dateTimeOriginal %}
<div class="form-group">
  <label for="period">Date Created:</label><br>
  <input class="form-control" type="text" name="period" size="80" value= {{ dateTimeOriginal }}>
</div>
{% else %}
<div class="form-group">
  <label for="period">Date Created:</label><br>
  <input class="form-control" type="text" name="period" size="80" placeholder="Input date and time created"/>
</div>
{% endif %}