{% extends "/private/base.html" %}
{% set active_page = "edit_ips" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
{% for ip in interest_point %}
  <div class="form">
      <fieldset>
        <form id="image-upload" method="POST" action="/edit_ips/edit/" enctype="multipart/form-data">
          <div class="row">
            <div class="form-wrapper col-lg-8">
              <legend>Edit Interest Point</legend>
              
              <div class="form-group" >
                <label for="name">Interest Point Name:</label><br>
                <input class="form-control" type="text" name="name" required size="15" value="{{ ip['name'] }}"><br>
              </div>
              <div class="form-group">
                <label for="latitude">Latitude:</label><br>
                <input class="form-control" type="text" name="latitude" size="80" value={{ ip['latitude'] }}>
              </div>
              <div class="form-group">
                <label for="longitude">Longitude:</label><br>
                <input class="form-control" type="text" name="longitude" size="80" value={{ ip['longitude'] }}>
              </div>
              <div class="form-group">
                <label for="notes">Additional Notes:</label><br>
                <input class="form-control" type="text" name="notes" size="80" value="{{ ip['notes'] }}">
              </div>
              
              <p></p>
              
              <button type="submit" name="edit-btn" value={{ ip['id'] }}>Edit</button>
            </div>
  
          </div>
        </form>
      </fieldset>
    </div>
{% endfor %}
</main>
{% endblock %}
