{% if latitude %}
<div class="form-group">
  <label for="latitude">Latitude:</label><br>
  <input class="form-control" type="text" name="latitude" value= {{ latitude }}>
</div>
{% else %}
<div class="form-group">
  <label for="latitude">Latitude:</label><br>
  <input class="form-control" type="text" name="latitude" >
</div>
{% endif %}

{% if longitude %}
<div class="form-group">
  <label for="longitude">Longitude:</label><br>
  <input class="form-control" type="text" name="longitude" value= {{ longitude }}>
</div>
{% else %}
<div class="form-group">
  <label for="longitude">Longitude:</label><br>
  <input class="form-control" type="text" name="longitude" >
</div>
{% endif %}

{% if year %}
<div class="form-group">
<label for="year">Event Date:</label><br>
  <div class="form-inline">
    <div class="form-group">
      <input type="number" name="month" class="form-control" min="1" max="12" value="{{ month }}">
    </div>
    <span> - </span>
    <div class="form-group">
      <input type="number" name="day" class="form-control" min="1" max="31" value="{{ day }}">
    </div>
    <span> - </span>
    <div class="form-group">
      <input type="number" name="year" class="form-control" value="{{ year }}"=>
    </div>
  </div>
</div>
{% else %}
<div class="form-group">
<label for="year">Event Date:</label><br>
  <div class="form-inline">
    <div class="form-group">
      <input type="number" name="month" class="form-control" min="1" max="12" placeholder="mm">
    </div>
    <span> - </span>
    <div class="form-group">
      <input type="number" name="day" class="form-control" min="1" max="31" placeholder="dd">
    </div>
    <span> - </span>
    <div class="form-group">
      <input type="number" name="year" class="form-control" placeholder="yyyy"=>
    </div>
  </div>
</div>
{% endif %}