{% extends "/private/base.html" %}
{% set active_page = "upload_events" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_events.css">
{% endblock %}

{% block content %}
<main class="container">
  <div class="form">
    <fieldset>
      <form id="event-upload" name="upload-form" method="POST" action="/admin/events/post" enctype="multipart/form-data">
        <div class="row">
          <div class="form-wrapper col-lg-8">
            <legend>Add a New Event</legend>
            
            <div class="form-group">
              <label for="title">Event Title:</label><br>
              <input class="form-control" type="text" name="title" placeholder="Untitled"><br>
            </div>
            
            <div class="form-group">
              <label for="event_description">Event Description:</label><br>
              <input class="form-control" type="text" name="event_description" placeholder="Provide a description to be displayed on the website.">
            </div>
         
            <div class="form-group">
            <label for="year">Event Date:</label><br>
              <div class="form-inline">
                <div class="form-group">
                  <input type="number" name="month" class="form-control" min="1" max="12" placeholder="mm">
                </div>
                <span> - </span>
                <div class="form-group">
                  <input type="number" name="day" class="form-control" min="1" max="31" placeholder="dd">
                </div>
                <span> - </span>
                <div class="form-group">
                  <input type="number" name="year" class="form-control" placeholder="yyyy" =>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="notes">Additional Notes:</label><br>
              <input class="form-control" type="text" name="notes" placeholder="Add any additional notes for private reference.">
            </div>
            
            <div class="form-group">
              <label for="tags">Tags:</label><br>
              <input class="form-control" type="text" name="tags" placeholder="Add tags separated by commas.">
            </div>

            <p></p>
            
            <input type="submit" value="Upload">
          </div>
        </div>
      </form>
    </fieldset>
  </div>

  <p></p>
  <p></p>
  <div class="table">
    <table class="table-bordered" margin="10px" id="preview">
      <tr>
        <th>Title</th>
        <th>Event Description</th>
        <th>Event Date (yyyy/mm/dd)</th> 
        <th>Additional Notes</th>
      </tr>
      
      {% for event in events %}
      <tr>
        <td class="event_title">{{ event['title'] | default("Untitled") }}</td>
        <td class="event_description">{{ event['event_description'] }}</td>
        <td class="date_of-event">{{ event['date_of_event'] }}</td> 
        <td class="notes">{{ event['notes'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}