{% extends "/private/base.html" %}
{% set active_page = "upload_images" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
<br>
  <div class="form">
      <fieldset>
        <form id="image-upload" name="upload-form" method="POST" action="/admin/upload_images/post" enctype="multipart/form-data">
          <div class="row">
            <div class="form-wrapper col-lg-8">
              <legend>Upload a New Image</legend>
              
              <div class="form-group" >
                <label for="title">Image Title:</label><br>
                <input class="form-control" type="text" name="title" placeholder="Untitled"><br>
              </div>
              
              <div class="form-group">
                <label for="img_description">Image Description:</label><br>
                <input class="form-control" type="text" name="img_description" placeholder="Describe the view unique to this image">
              </div>
           
              <div id='exif-autoComplete'>
                {% include '/private/form_images.html' %}
              </div>
  
              <div class="form-group">
                <label for="interest_point">Interest Point:</label><br>
                <select class="form-control" name='interest_point'>
                  <option selected name="ip_auto"> Select One </option>
                  {% for interest_point in interest_points %}
                  <option name="interest_point"> {{ interest_point['name'] }} </option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="event">Event:</label><br>
                <select class="form-control" name='event'>
                  <option selected name="event_auto"> Select One </option>
                  {% for event in events %}
                  <option name="event"> {{ event['title'] }} </option>
                  {% endfor %}
                </select>
              </div>
              
              <div class="form-group">
                <label for="period">Period:</label><br>
                <select class="form-control" name='period'>
                  <option selected name="period_auto"> Select One </option>
                  {% for period in periods %}
                  <option name="period"> {{ period }} </option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="notes">Additional Notes:</label><br>
                <input class="form-control" type="text" name="notes">
              </div>

              <div class="form-group">
                <label for="tags">Tags:</label><br>
                <input class="form-control" type="text" name="tags" placeholder="Add tags separated by commas.">
              </div>
              
              <p></p>
              
              <input type="submit" value="Upload">
            </div>
  
  
            <div class="upload-wrapper col-lg-4">

              <input type="file" id="img-input" name="file" required><br /><br />

              <img id="img-preview" src="#" alt="your image"></img>
            </div>
          
          </div>
        </form>
      </fieldset>
    </div>

  <p></p>
  <p></p>
  <div class="table">
    <table class="table-bordered" margin="10px" id="preview">
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Image Description</th>
        <th>Upload Date/Time</th> 
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Creation Date</th>
        <th>Interest Point</th>
        <th>Events</th>
        <th>Notes</th>
        <th>Filename</th>
      </tr>

      {% for key in images %}
      <tr>
        <td><img src="{{ NEW_DATA_DIRECTORY_RELPATH }}{{ key['thumbnail_name'] }}" alt="thumbnail" style="width:100px;height:100px;"></img></td>
        <td class="image_title">{{ key['title'] | default("Untitled") }}</td>
        <td class="img_description">{{ key['img_description'] }}</td>
        <td class="created_at">{{ key['created_at'] }}</td> 
        <td class="latitude">{{ key['latitude'] }}</td>
        <td class="longitude">{{ key['longitude'] }}</td>
        <td class="date_created">{{ key['date_created'] }}</td>
        <td class="interest_point">{{ key['interest_point'] }}</td>
        <td class="events">{{ key['event'] }}</td>
        <td class="notes">{{ key['notes'] }}</td>
        <td class="file_name">{{ key['filename'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/exif.js"></script>
    <script type="text/javascript" src="/static/js/get_tags.js"></script>
    <script type="text/javascript">
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img-preview').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
         }
      }
      $("#img-input").change(function(){
        readURL(this);
      });

      // Function to ensure form validation. Seemingly redundant with 'required' tag.
      // Add 'onsubmit="return validateForm()"' to <form> div to use function.
      // function validateForm() {
      //   var x = document.forms["upload-form"]["title"].value;
      //   if (x == null || x == "") {
      //       alert("Title must be filled out");
      //       return false;
      //     }
      // }
    </script>
{% endblock %}