{% extends "/private/base.html" %}
{% set active_page = "upload_ips" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/upload_ips.js"></script>
    <style>
    .form-error {
        color:#ff0000;
        font-style: italic;
    }
    </style>
{% endblock %}

{% block content %}
<main class="container">
  <div class="form">
    <fieldset>
      <form id="ip-upload"  method="POST" action="/admin/interest_points/post"  onsubmit="return checkForm(this);" enctype="multipart/form-data">

        <div class="row">
          <div class="form-wrapper col-md-8">
            <legend>Add a New Point of Interest</legend>

          <div class="form-group">
            <label for="name">Location Title:</label><br>
            <input class="form-control" type="text" name="title" placeholder="Untitled" value="{{interest_point.title}}" id="name"></input>
            <p id="title-form-issue" class="form-error" hidden>Required</p>
          </div>


          <div id="drawMap" style="width: 100%; height: 400px">
            <div class="container" ></div>
          </div><br>
          <p id="map-form-issue" class="form-error" hidden>Must place a new object on the map.</p>


          <div class="form-group">
            <!--allows the javascript to upload data in the form-->
            <input id="geojson-field" type="hidden" name="geojson" value="">
          </div>

          <div class="form-group">
            <label for="layer">Layer:</label><br>
            <select class="form-control" name="layer">
                <option>Select One</a></option>
                {% for layer_num,layer_name in LAYER_FIELDS.items() %}
                <option {%if layer_num == interest_point.layer%}selected{%endif%}>{{layer_name}}</option>
                {% endfor %}
              </select>
             <p id="layer-form-issue" class="form-error" hidden>Required</p>
          </div><br>

          <div class="form-group">
             <!-- to make this look better, use bootstrap-select library. -->
            <label for="icon">Point Icon:</label><br>
            <select class="form-control icon-menu" name="icon">
                <option>Select One</a></option>
                {% for ico_name in MAP_ICONS %}
                <option {%if ico_name == interest_point.icon%}selected{%endif%}>{{ico_name}}</option>
                {% endfor %}
              </select>
             <p id="icon-form-issue" class="form-error" hidden>Required</p>
          </div><br>

            <div class="form-group">
              <label for="description">Interest Point Description:</label><br>
              <textarea class="form-control" rows='5' type="text" name="description">{{interest_point.descrip_body}}</textarea>
            </div>

            <div class="form-group">
              <input id="geojson-field" type="hidden" name="geojson" value="">
            </div>

            <p></p>
            <!--Allows server to see image id if it is from an edit-->
            <div class="form-group">
              <input type="hidden" name="ip_id" value="{%if interest_point.id %}{{interest_point.id}}{%endif%}">
            </div>

            <input id="upload-btn" type="submit" value="Upload">
          </div>

          <br><br>

          <table class="table-bordered" margin="10px">
            <tr>
              <th></th>
              <th>Image</th>
              <th>Description</th>
            </tr>
            {% macro render_table(images,is_checked) %}
                {% for img in images %}
                    <tr>
                      <td>
                          <input type="checkbox" name='image_ids' value={{ img.id }} {%if is_checked%}checked{%endif%}>
                      </td>
                      <td><img src="{{ THUMB_DIR_RELPATH }}{{ img.filename }}" alt="thumbnail" style="width:100px;height:100px;"></img></td>
                      <td>{{ img.description }}</td>
                    </tr>
                {% endfor %}
            {% endmacro %}

            {{ render_table(taken_images,True) }}
            {{ render_table(free_images,False) }}
          </table>
        </div>
      </form>
    </fieldset>
  </div>
</main>
{% endblock %}


{% block footer %}
    {{ super () }}
<script>
    var straboconfig = {{ straboconfig|tojson }};
    var features = {{ geo_features|tojson }};
    var edit_json = {{ my_ip_json|tojson }};
</script>
<script src="/static/js/map_info.js"></script>
<script src="/static/js/{{ ADMINMAP_JS }}"></script>
{% endblock %}
