<!doctype html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/private_styles/upload_navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Canyon Uploader</title>
  </head>
  
  <body>
    <ul class="nav nav-tabs">
      <li role="presentation" id="Upload_images"class="tab"><a href="#">Upload Images</a></li>
      <li role="presentation" id="Add_ip" class="tab"><a href="#">Add New Interest Points</a></li>
      <li role="presentation" id="Add_event" class="tab"><a href="#">Add New Events</a></li>
      <li role="presentation" id="Edit_images" class="tab"><a href="#">Edit or Delete Images</a></li>
      <li role="presentation" id="Edit_ip" class="tab"><a href="#">Edit or Delete Interest Points</a></li>
      <li role="presentation" id="Edit_events" class="tab"><a href="#">Edit or Delete Events</a></li>
    </ul>

  </body>

  <script type="text/javascript">
    $('.tab').click(function () {
      var prev = $('.active')
      $(prev).removeClass('active')
      $(this).addClass('active')
      var name = this.id
      $.post(
        "/tabs",
        {key:name},
        function(data) {
          $("#body-wrapper").html(data)
        }
        );
    });
  </script>
</html>