/* About Page */

body {
  overflow-x: hidden;
}

/* Banner */
.banner {
  position: absolute;
  left: 0;
  right: 0;
  height: 20em;
  background: #ebf5e4;
}
 
 /* Banner image */
.background {
  width: 100%;
  background-image: url('../uploads/about/hummingbird.png')!important;
  background-color: #ebf5e4;
  background-repeat: no-repeat;
  background-size: cover;
} 

/* Header text */
#page-header {
    padding-top: 4.428571429em;  /*20/14 */
}

/* Header text font */
#page-header h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3em; /*2.5em;  35/14 */
  font-style: bold;
  color: #ffffff;
  letter-spacing: .107142857em; /* 2/14 */
}

#page-header span {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.685714286em; /* 24/35 */
  font-style: italic;
  color: #ffffff;
}

/* Content Header Text*/
.content h2 {
  color: #ffffff;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 200;

  margin-top: 2.5em;

  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  letter-spacing: .207142857em; /* 2/14 + 0.1*/
}

/* Purpose header background */
.purpose > h2{
  background-color: #78866b;
  /*background-image: url('../uploads/about/frogs.jpg')!important;*/
  position: absolute;
  left: 0;
  right: 0;
}

/* People header background */
.people > h2 {
  background-color: #78866b;
  /*background-image: url('../uploads/about/night.jpg')!important;*/
  position: absolute;
  left: 0;
  right: 0;
}

/* Content text */
.content p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;


  font-size: 1.5em; /*4vw;*/


  text-align: center;
  padding: 0.3em;
  padding-top: 10em; /* moves text below image heading */
}

.about img {
  float: right;
  padding: 1em;
}

.purpose img {
  float: left;
  padding: 1em;
}

