/* About Page */

.about-wrapper {
  overflow-x: hidden;
}

/* Banner */
.banner {
  width: 100%;
  height: 20em;
  background: #ebf5e4;
}

 /* Banner image */
.background {
  width: 100%;
  background-image: url('../about/hummingbird.png')!important;
  background-color: #ebf5e4;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header text */
#page-header {
  padding: 1.3em;
    padding-top: 4.428571429em;  /*20/14 */
}

/* Header text font */
#page-header h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3em; /*2.5em;  35/14 */
  font-style: bold;
  color: #ffffff;
  letter-spacing: .107142857em; /* 2/14 */
}

#page-header span {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.685714286em; /* 24/35 */
  font-style: italic;
  color: #ffffff;
}

/* Content Header Text*/
h2 {
  color: #ffffff;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 200;

  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  letter-spacing: .207142857em; /* 2/14 + 0.1*/
}

/* Purpose header background */
.purpose > h2{
  background-color: #78866b;
  /*background-image: url('../about/frogs.jpg')!important;*/
  width: 100%;
}

/* People header background */
.people > h2 {
  background-color: #78866b;
  /*background-image: url('../about/night.jpg')!important;*/
  width: 100%;
}

/* Content text */
.content p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  text-align: left;
  padding: 1.8em;
}

@media (min-width: 1024px) {
    /* if screen is too wide, put max on text size and center it on the
    screen */
    .content p{
        max-width: 1024px;
        margin: auto;
    }
}
.inline-img{
    padding: 1em;
}
@media (max-width: 470px) {
    /* if screen is too small, then make sure text does not go around
    the images and center the image */
    .inline-img{
        width: 100%;
        text-align: center;
    }
}
.right-img{
  float: right;
}
.left-img{
  float: left;
}
