/* Navbar */

.navbar {
  background-color: #422C1E;
  /* background-color: #006666; */
  border-bottom: 0.071428571em solid #2e1e15;
  opacity: 1;
  padding: 0.071428571em;
}
/*
.navbar-header a {
  float: left;
  color: #006666;
  font-family: 'Century Gothic','Lucida-Sans', sans-serif;
  font-weight: 700;
  font-size: 2.142857143em; /* 30/14
} */

.navbar-toggle {
  position: relative;
  float: right;
  background-color: #422C1E;
  background-image: none;
  border: 0.071428571em solid #ffffff; /* #777;*/
  border-radius: 0.285712386em; /* 4/14 */
}

.navbar-brand {
  padding: 0em;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
  padding-left: 0.857142857em; /* 12/14 */
}

span.icon-bar {
  background-color: #ffffff; /* #777; */
}

/* Navbar Menu */

.header .menu {
  float: right;
  list-style: none;
  margin-top: 0em;
}

.menu > li {
  display: inline;
  padding-left: 1.428571429em; /* 20/14 */
  padding-right: 1.428571429em;
}

.menu a {
  color: #ffffd8;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  font-size: 1.428571429em;
}

 /* Change the color of the hover background on the navbar menu */
.nav>li>a:focus, .nav>li>a:hover {
    /* background-color: #ebf5e4; */ /* Leaving this commented out in case we want to change back */
    /* background-color: #425e8a; */
    background-color: #583a28;
}
