.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100000; /* goes above leaflet link */
}
.popup-foreground {
    position:absolute;
    height: 100%;
    /* size of box on larger screens*/
    max-height: 800px;
    max-width: 700px;
    /*differenciates slightly from normal background*/
    background: rgba(0,0,0,0.2);
    /* border around box on large screens
     * pattern:  _ _ blur spread color*/
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
}

#top-section {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    width:100%;
    background: #ebf5e4;
    /*must add to 100 with #text-section:height and #carousel-space:height*/
    position: absolute;
    top: 0;
    height:43%;
}

#top-section h2 {
    color: #422C1E;
    font-weight: bold;
}

#ip_description {
    color: #422C1E;
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
}

#carouselholder{
    height: 100%;
}
#carousel-space{
    /*must add to 100 with #top-section:height and #text-section:height*/
    position: absolute;
    top:43%;
    height: 49%;
    width: 100%;
}
.padded-pic{
    padding: 0 20px 0 20px;
    height: 100%;
}
.carousel-cell.is-selected img{
    /*highlighting around centered flickty image*/
    /* pattern:  _ _ blur spread color*/
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.6);
}
.img-description {
    color: #422C1E;
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
}
#text-section{
    /*must add to 100 with #top-section:height and #carousel-space:height*/
    position: absolute;
    top: 92%;
    height: 8%;
    width: 100%;
    text-align: center;
    background: #ebf5e4;
}
.close-button{
    color: #422C1E;
    font: normal 4em/normal Arial;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.button-parent{
    text-align: right;
}
.ip-descrip{
    white-space: pre-wrap;
}
.horizontal-center{
    width: 100%;
    margin: auto;
}
.vertical-center{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.text-measure{
    /*used by js function liniar_text_width(text)*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:-10000;
    font-size: 10px;`
}
