{% extends "/private/base.html" %}
{% set active_page = "edit_ips" %}
{% block head %}
    {{ super() }}
    <link href='/static/private_styles/edit_ips.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<main>
    <div id="form-field">
        <form method="GET" action="/admin/edit_ips/redirect" enctype="multipart/form-data">
            <div class="table">
                <table class="table-bordered" margin="10px" id="preview">
                  <tr>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Layer</th>
                    <th>Style</th>
                    <th>Images</th>
                  </tr>

                  {% for ip in interest_points %}
                      <tr>
                        <td>
                            <button type="submit" name="edit-btn" value={{ ip.id }}>Edit</button>
                        </td>
                        <td>
                            <button type="submit" name="delete-btn" value={{ ip.id }}>Delete</button>
                        </td>
                        <td>{{ ip.title }}</td>
                        <td id="description">{{ ip.descrip_body }} </td>
                        <td>{{LAYER_FIELDS[ip.layer]}}</td>
                        <td>
                            <img src={{ url_for('static', filename="map_icons/")}}{{COLOR_ICON[ip.style]}}>
                            <br>
                            {{COLOR_REP[ip.style]}}
                        </td> 
                        <td>
                            {% for image in ip.images %}
                            <div class="images">
                                <img src={{ url_for('static', filename="thumbnails/")}}{{image.filename}}>
                                <br>
                                {{image.description}}
                            </div>
                            {% endfor %}
                        </td>

                      </tr>
                  {% endfor %}
                </table>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
{% endblock %}
