{% extends "/private/base.html" %}
{% set active_page = "upload_ips" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
    <link href='/static/private_styles/upload_ips.css' rel='stylesheet' />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        var straboconfig = {{ straboconfig|tojson }};
        var features = {{ geo_features|tojson }};
        var edit_json = {{ my_ip_json|tojson }};
        var ip_images = {{ ip_images|tojson }};
    </script>
    <script src="/static/js/upload_ips.js"></script>
    <script src="/static/js/map_info.js"></script>
    <script src="/static/js/{{ ADMINMAP_JS }}"></script>
{% endblock %}

{% block content %}
<main class="container">
  <div class="form">
    <fieldset>
      <form method="POST" action="/admin/interest_points/post"  onsubmit="return checkForm(this);" enctype="multipart/form-data">

        <div class="row">
          <div class="form-wrapper col-md-8">
            <legend>Add a New Point of Interest</legend>

          <div class="form-group">
            <label for="name">Location Title:</label><br>
            <input class="form-control" type="text" name="title" placeholder="Untitled" value="{{interest_point.title}}" id="name"></input>
            <p id="title-form-issue" class="form-error" hidden>Required</p>
          </div>


          <div id="drawMap" style="width: 100%; height: 400px">
            <div class="container" ></div>
          </div><br>
          <p id="map-form-issue" class="form-error" hidden>Must place a new object on the map.</p>


          <div class="form-group">
            <!--allows the javascript to upload data in the form-->
            <input id="geojson-field" type="hidden" name="geojson" value="">
          </div>

          <div class="form-group">
            <label for="layer">Layer:</label><br>
            <select class="form-control" name="layer">
                <option>Select One</option>
                {% for layer_num,layer_name in LAYER_FIELDS.items() %}
                <option {%if layer_num == interest_point.layer%}selected{%endif%}>{{layer_name}}</option>
                {% endfor %}
              </select>
             <p id="layer-form-issue" class="form-error" hidden>Required</p>
          </div><br>

          <div class="form-group">
             <!-- to make this look better, use bootstrap-select library. -->
            <label for="icon">Point Icon:</label><br>
            <select class="form-control icon-menu" name="icon">
                <option>Select One</option>
                {% for icon_name in MAP_ICONS %}
                    <option {%if icon_name == interest_point.icon%}selected{%endif%}>
                        {{icon_name[:-4]}}
                    </option>
                {% endfor %}
              </select>
             <p id="icon-form-issue" class="form-error" hidden>Required</p>
          </div><br>

            <div class="form-group">
              <label for="description">Interest Point Description:</label><br>
              <textarea class="form-control" rows='5' name="description">{{interest_point.descrip_body}}</textarea>
            </div>

            <p></p>
            <!--Allows server to see image id if it is from an edit-->
            <input type="hidden" name="ip_id" value="{%if interest_point.id %}{{interest_point.id}}{%endif%}">

          <br><br>
        <div class="row">
            <label for="description">Images:</label><br>
            <div class="col-md-8">

            <div class="button-space">
                <button type="button" class="add-button" id="root-add-button" >Add Image Below</button>
            </div>

            <div id="img-start">

            </div>

            <br><br><br>
            <input id="upload-btn" type="submit" value="Upload">
          </div>
        </div>
      </div>
        </div>
      </form>
    </fieldset>
  </div>
</main>

{% include "private/upload_img_model.html" %}

{% endblock %}


{% block footer %}
    {{ super () }}
{% endblock %}
