{% extends "/private/base.html" %}
{% set active_page = "upload_images" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/private_styles/upload_tool.css">
{% endblock %}

{% block content %}
<main class="container">
  <div class="form">
      <fieldset>
        <form id="image-upload" name="upload-form" method="POST" action="/admin/upload_images/post" enctype="multipart/form-data">

          <div class="row">
            <div class="form-wrapper col-md-8">
              <legend>Upload a New Image</legend>

            <div class="upload-wrapper">
              <input type="file" id="img-input" name="file" {% if not image.filename %} required {% endif %}>
              <br>
              <img id="img-preview" src={% if image.filename %} "{{THUMB_DIR_RELPATH}}{{image.filename}}" {% else %} "#" {% endif %} class="img-responsive" alt="your image"></img>
              <br>
              <br>
            </div>

            <div class="form-group">
            <label for="year">Date Taken [mm]-[yyyy]:</label><br>
            <i>Images are displayed chronologically by year.</i>
              <div class="form-inline">
                <div class="form-group">
                  <input type="number" name="month" class="form-control" min="1" max="12" placeholder="mm" value="{{image.taken_at.month}}">
                </div>
                <span> - </span>
                <div class="form-group">
                  <input type="number" name="year" class="form-control" min="1900" max="2100" placeholder="yyyy"  value="{{image.taken_at.year}}" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Image Description:</label><br>
              <input class="form-control" type="text" name="description" value="{{ image.description }}">
            </div>

            <!--Allows server to see image id if it is from an edit-->
            <div class="form-group">
              <input type="hidden" name="img_id" value={%if image.filename%}{{image.id}}{%else%}""{%endif%}>
            </div>

            <input type="submit" value="Upload">
          </div>

          </div>
        </form>
      </fieldset>
    </div>
</main>
{% endblock %}

{% block footer %}
    {{ super () }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img-preview').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
         }
      }
      $("#img-input").change(function(){
        readURL(this);
      });

      // Function to ensure form validation. Seemingly redundant with 'required' tag.
      // Add 'onsubmit="return validateForm()"' to <form> div to use function.
      // function validateForm() {
      //   var x = document.forms["upload-form"]["title"].value;
      //   if (x == null || x == "") {
      //       alert("Title must be filled out");
      //       return false;
      //     }
      // }
    </script>
{% endblock %}
