/* Admin Nav Bar */

main { 
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.temp h2 { /* Index Greeting */
	padding-top: 1.5em;
	padding-left: 2em;
}

.tab-active {
	background-color: #e6e6e6;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #e6e6e6;
}

.container {
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: 2em;
}