/* Admin Nav Bar */

main { 
  padding-top: 2em;
}

.temp h2 {
	padding-top: 1.5em;
	padding-left: 2em;
}

.tab-active {
	background-color: #e6e6e6;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #e6e6e6;
}