/* Admin Nav Bar */


/*
main { 
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
*/

.temp h2 {
	padding-top: 1.5em;
	padding-left: 2em;
}

.tab-active {
	background-color: #e6e6e6;

}